extends base
include _button

block content
    .hero-container
        video(src="/videos/video-1.mp4" autoPlay loop muted)
        h1 Adventure awaits
        p What are you waiting for?
        .hero-btns
            +Button('sbtn--outlint','sbtn--large','GET STARTED','/overview')
            //- +Button('sbtn--primary','sbtn--large','WATCH TRAILER')
    .cards
        h1 Check out these EPIC Destinations!
        .cards__container
            .cards__wrapper
                ul.cards__items

                    li.cards__item
                        a.cards__item__link(href="/tour/the-forest-hiker")
                            figure.cards__item__pic-wrap("data-category"="easy")
                                img.cards__item__img(src="/img/tours/tour-1-cover.jpg" alt="Travel Image")
                            .cards__item__info
                                h5.cards__item__text The Forest Hiker

                    li.cards__item
                        a.cards__item__link(href="/tour/the-sea-explorer")
                            figure.cards__item__pic-wrap("data-category"="medium")
                                img.cards__item__img(src="/img/tours/tour-2-cover.jpg" alt="Travel Image")
                            .cards__item__info
                                h5.cards__item__text The Sea Explorer
                ul.cards__items

                    li.cards__item
                        a.cards__item__link(href="/tour/the-snow-adventurer")
                            figure.cards__item__pic-wrap("data-category"="difficult")
                                img.cards__item__img(src="/img/tours/tour-3-cover.jpg" alt="Travel Image")
                            .cards__item__info
                                h5.cards__item__text The Snow Adventurer

                    li.cards__item
                        a.cards__item__link(href="/tour/the-mountain-biker")
                            figure.cards__item__pic-wrap("data-category"="medium")
                                img.cards__item__img(src="/img/tours/tour-5f50f6bb6e648b3e14672413-1599141845833-cover.jpeg" alt="Travel Image")
                            .cards__item__info
                                h5.cards__item__text The Mountain Biker

                    li.cards__item
                        a.cards__item__link(href="/tour/the-city-wanderer")
                            figure.cards__item__pic-wrap("data-category"="easy")
                                img.cards__item__img(src="/img/tours/tour-4-cover.jpg" alt="Travel Image")
                            .cards__item__info
                                h5.cards__item__text The City Wanderer


