.sbtn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.sbtn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.sbtn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    font-family: inherit;
    margin: 5px;
}

.sbtn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.sbtn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.sbtn--large:hover,
.sbtn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}
